#posts-index img {
  width: 300px;
}
header {
  background-color: black;
  padding: 2.5em;
  margin-top: -1em;
  margin-left: -2em;
  margin-right: -1em;
}
header a {
  
  font-size: x-large;
  text-decoration:none;
  color: rgb(255, 255, 255);
  float: right;
  margin-right: 1em;
  margin-top: -.7em;
  padding: 6px;
  background-color: rgb(61, 81, 56); opacity: 70%;
  /* background-color: transparent; */
}
header a:hover {
  background-color: rgb(106, 134, 78);
}
body {
  background-repeat: no-repeat;
}
html {
  scroll-behavior: smooth;
  font-family: monospace;
  text-align: center;
}

h1 {
  font-style: italic;
  color: rgb(184, 165, 140);
}
/* #posts-new img {
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
} */
/* #posts-new img:hover {
  transform: scaleX(-1);
} */



.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  
}
/* #posts-new h1, h2{
  text-align: center;
} */